.choice {
  display: flex;
  background-color: $color-history-choice;
  color: $color-text;

  @include respond(tab-min) {
    margin-left: 20rem;
    flex-direction: column;
    padding: 8.5rem 20rem 8.5rem 7.5rem;
  }

  @include respond(tab-port) {
    flex-direction: column;
    padding: 4rem 2rem;
  }

  &-title {
    font-size: 3.5rem;
    line-height: 4.3rem;
    padding-bottom: 6rem;
    font-weight: 600;

    @include respond(tab-port) {
      font-size: 2.8rem;
      line-height: 3.6rem;
      margin-bottom: 4rem;
    }
  }

  &__paragraph {
    &__container {
      display: flex;
      @include respond(tab-port) {
        flex-direction: column;
      }

      &__text {
        padding-left: 2rem;
        border-left: 2px solid currentColor;
        @include respond(tab-port) {
          margin-bottom: 2rem;
        }
        &-title {
          font-size: 2.2rem;
          line-height: 2.8rem;
          padding-bottom: 1.5rem;

          @include respond(tab-port) {
            padding-left: 2rem;
            margin-bottom: 2rem;
          }
        }

        &-p {
          font-size: 2rem;
          line-height: 3.2rem;
          opacity: 80%;

          @include respond(tab-port) {
            padding-left: 2rem;
          }
        }
      }
    }
  }
}
