.footer {
  background-color: $color-hero-section;
  display: flex;
  flex-direction: column;
  padding: 6rem 20rem;
  @include respond(tab-port) {
    flex-direction: column;
    padding: 6.2rem 2.5rem;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10.6rem;
    width: 100%;

    @include respond(phone) {
      flex-direction: column;
    }

    @include respond(tab-port) {
      margin-bottom: 7.5rem;
      flex-wrap: wrap;
    }

    @media (min-width: 900px) {
      width: 100%;
    }

    @media (min-width: 1200px) {
      width: 80%;
    }

    &__logo {
      @include respond(tab-port) {
        width: 50%;
      }
      &-img {
        width: 20rem;
        height: auto;
        @include respond(tab-port) {
          width: 17.5rem;
          height: auto;
          margin-bottom: 6.2rem;
        }
      }
    }

    &__agency {
      @include respond(tab-port) {
        width: 50%;
      }
      color: $color-text;
      opacity: 90%;
      padding-top: 1.2rem;
      @include respond(tab-port) {
        margin-bottom: 5rem;
      }

      &-title {
        font-size: 1.7rem;
        line-height: 2.1rem;
        margin-bottom: 1.8rem;

        @include respond(tab-port) {
          font-size: 1.7rem;
          line-height: 2.1rem;
          margin-bottom: 1.8rem;
        }
      }

      &__address {
        &-road {
          font-size: 1.75rem;
          line-height: 3.5rem;

          @include respond(tab-port) {
            font-size: 1.75rem;
            line-height: 2.5rem;
          }
        }
        &-street {
          font-size: 1.75rem;
          line-height: 3.5rem;
          margin-bottom: 1.8rem;

          @include respond(tab-port) {
            font-size: 1.75rem;
            line-height: 2.5rem;
            margin-bottom: 1.8rem;
          }
        }
      }

      &__day {
        &-open {
          font-size: 1.8rem;
          line-height: 3.5rem;

          @include respond(tab-port) {
            font-size: 1.75rem;
            line-height: 2.5rem;
          }
        }
        &-hour {
          font-size: 1.75rem;
          line-height: 3.5rem;

          @include respond(tab-port) {
            font-size: 1.75rem;
            line-height: 2.5rem;
          }
        }
      }
    }

    &__contact {
      color: $color-text;
      opacity: 90%;
      padding-top: 1.2rem;
      @include respond(tab-port) {
        margin-bottom: 5rem;
        width: 50%;
      }

      &-title {
        font-size: 1.75rem;
        line-height: 2.1rem;
        margin-bottom: 1.8rem;

        @include respond(tab-port) {
          font-size: 1.75rem;
          line-height: 2.1rem;
          margin-bottom: 1.8rem;
        }
      }

      &-number {
        font-size: 1.75rem;
        line-height: 2.5rem;

        @include respond(tab-port) {
          font-size: 1.75rem;
          line-height: 2.5rem;
        }
      }

      &-mail {
        font-size: 1.75rem;
        line-height: 2.5rem;

        @include respond(tab-port) {
          font-size: 1.75rem;
          line-height: 2.5rem;
        }
      }
    }

    &__follow {
      padding-top: 1.2rem;
      @include respond(tab-port) {
        margin-bottom: 7.5rem;
        width: 50%;
      }

      &-title {
        color: $color-text;
        font-size: 1.75rem;
        line-height: 2.1rem;
        margin-bottom: 1.8rem;

        opacity: 90%;
        @include respond(tab-port) {
          font-size: 1.75rem;
          line-height: 2.1rem;
          margin-bottom: 1.8rem;
        }
      }

      &__logo {
        &-face {
          font-size: 2.2rem;
          line-height: 2.2rem;
          margin-right: 2.5rem;
          @include respond(tab-port) {
            font-size: 2.2rem;
            line-height: 2.2rem;
            margin-right: 2.5rem;
          }
        }

        &-insta {
          font-size: 2.2rem;
          line-height: 2.2rem;
          @include respond(tab-port) {
            font-size: 2.2rem;
            line-height: 2.2rem;
          }
        }
      }
    }
  }

  &__policy {
    color: $color-text;
    display: flex;

    @include respond(phone) {
      flex-direction: column;
    }

    &__year {
      display: flex;
      margin-right: auto;
      opacity: 90%;

      @include respond(tab-port) {
        margin-bottom: 1.8rem;
      }
      &-sicura {
        font-size: 1.6rem;
        line-height: 1.8rem;
        margin-right: 5rem;

        @include respond(tab-port) {
          font-size: 1.6rem;
          line-height: 1.8rem;
          margin-right: 5rem;
        }
      }

      &-privacy {
        font-size: 1.6rem;
        line-height: 1.8rem;

        @include respond(tab-port) {
          font-size: 1.6rem;
          line-height: 1.8rem;
        }
      }
    }

    &__mono {
      &-designed {
        opacity: 90%;
        font-size: 1.6rem;
        line-height: 1.8rem;

        @include respond(tab-port) {
          font-size: 1.6rem;
          line-height: 1.8rem;
        }
      }
      &-span {
        font-size: 1.6rem;
        line-height: 1.8rem;
        color: $color-text;
        @include respond(tab-port) {
          font-size: 1.6rem;
          line-height: 1.8rem;
        }
      }
    }
  }
}
