.form {
  margin-top: 6.3rem;

  display: flex;
  padding: 6rem 20rem;
  justify-content: space-between;
  flex-direction: column;

  @include respond(tab-port) {
    flex-direction: column;
    padding: 12.5rem 2.5rem;
  }

  &__title {
    &-call {
      color: $color-middle-text;
      padding-bottom: 7.3rem;
      font-size: 3rem;
      line-height: 3.7rem;

      @include respond(tab-port) {
        font-size: 2.8rem;
        line-height: 3.6rem;
        padding-bottom: 3.7rem;
      }
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    @include respond(tab-port) {
      flex-direction: column;
    }
    &__employee {
      display: flex;
      align-items: self-start;

      @include respond(tab-port) {
        padding-bottom: 5rem;
      }

      &__picture {
        &-img {
          width: 7rem;
          height: 7rem;
          border-radius: 50%;
          margin-right: 2rem;
          @include respond(tab-port) {
            width: 6.3rem;
            height: 6.3rem;
            border-radius: 50%;
          }
        }
      }

      &__text {
        color: $color-middle-text;

        &-title {
          font-size: 1.8rem;
          line-height: 2.2rem;

          @include respond(tab-port) {
            font-size: 1.8rem;
            line-height: 2.7rem;
          }
        }

        &-p {
          opacity: 80%;
          font-size: 1.6rem;
          line-height: 2.8rem;

          @include respond(tab-port) {
            font-size: 1.6rem;
            line-height: 1.8rem;
          }
        }
      }
    }

    &__input {
      display: flex;
      flex-direction: column;
      width: 50%;
      @include respond(tab-port) {
        flex-direction: column;
        width: 100%;
      }
      &__group {
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        @media (min-width: 1100px) {
          flex-direction: row;
        }

        &__generality {
          display: flex;
          flex-direction: column;
          margin-bottom: 5.5rem;

          @media (min-width: 900px) {
            margin-right: 10px;
          }

          &-label {
            color: $color-label;
            opacity: 50%;
            font-size: 1.6rem;
            line-height: 2rem;
            font-weight: 400;

            @include respond(tab-port) {
              opacity: 30%;
              font-size: 1.6rem;
              line-height: 2rem;
            }
          }

          &-name {
            border: none;
            border-bottom: 1px solid $color-input;
            opacity: 50%;
            font-size: 1.8rem;
            line-height: 2.2rem;
            @include respond(tab-port) {
              margin-bottom: 2.5rem;
            }
          }
        }

        &__request {
          margin-bottom: 4rem;
          width: 100%;
          &-label {
            color: $color-label;
            opacity: 50%;
            font-size: 1.6rem;
            line-height: 2rem;

            @include respond(tab-port) {
              opacity: 30%;
              font-size: 1.6rem;
              line-height: 2rem;
            }
          }

          &-name {
            border: none;
            border-bottom: 1px solid $color-input;
            opacity: 50%;
            font-size: 1.8rem;
            line-height: 2.2rem;
            width: 100%;
            @include respond(tab-port) {
              margin-bottom: 2.5rem;
            }
          }
        }

        &-btn {
          background-color: $color-history-choice;
          border: none;
          color: $color-text;
          align-self: flex-end;
          width: 24rem;
          height: 4.8rem;
          border-radius: 0.4rem;
          font-size: 1.7rem;
          line-height: 2.1rem;
          cursor: pointer;

          @include respond(tab-port) {
            font-size: 1.6rem;
            line-height: 2rem;
            width: 19.7rem;
            height: 5rem;
            border-radius: 0.5rem;
            margin-top: 0.5rem;
            align-self: flex-end;
          }
        }
      }
    }
  }
}
