.hero {
  background-color: $color-hero-section;
  padding: 5rem 16rem 0 16rem;

  @include respond(tab-port) {
    padding: 5rem 2rem 0 2rem;
  }

  &__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 5rem;

    @include respond(tab-port) {
      justify-content: space-between;
      padding-bottom: 8rem;
    }

    &-img {
      width: 20rem;
      height: auto;

      @include respond(tab-port) {
        height: auto;
        width: 21rem;
      }
    }
  }

  &__btn {
    color: $color-hero-btn;
    border-radius: 5.5rem;
    border: 1px solid $color-hero-btn;
    background-color: transparent;
    cursor: pointer;

    height: 3rem;
    width: 15.6rem;
    border-radius: 5.5rem;
    font-size: 1.4rem;
    line-height: 1.7rem;

    @include respond(tab-port) {
      height: 3.2rem;
      width: 14.7rem;
      border-radius: 4.7rem;
      line-height: 1.2rem;
      font-size: 1.2rem;
    }
  }

  &__section {
    display: flex;
    justify-content: space-between;

    @include respond(tab-port) {
      flex-direction: column;
      padding-bottom: -3rem;
    }

    &__text {
      display: flex;
      flex-direction: column;

      @include respond(tab-port) {
        padding-bottom: 3rem;
      }

      &-title {
        color: $color-text;

        font-size: 5rem;
        line-height: 6rem;
        margin-bottom: 3.4rem;
        //font-weight: 600;

        @include respond(tab-port) {
          font-size: 4.2rem;
          line-height: 4.5rem;
          padding-bottom: 3rem;
          
        }
      }
      
      &-paragraph {
        color: $color-text;
        font-size: 2.1rem;
        line-height: 2.6rem;
        margin-bottom: 3.4rem;
        //font-weight: 400;
        @include respond(tab-port) {
          font-size: 2.6rem;
          line-height: 3.2rem;
          padding-bottom: 3rem;
        }
      }
      &-btn {
        color: $color-text;
        background-color: $color-hero-btn;
        align-self: start;
        cursor: pointer;

        border: none;

        width: 16rem;
        height: 4.6rem;
        border-radius: 0.4rem;

        font-size: 1.5rem;
        line-height: 1.8rem;
        //font-weight: 700;

        @include respond(tab-port) {
          align-self: start;
          width: 19.7rem;
          height: 5rem;
          border-radius: 0.5rem;
          line-height: 2.3rem;
          border: none;
        }
      }
    }

    &-logo {
      width: 50rem;
      height: auto;
      transform: translateX(+15rem);
      @include respond(tab-port) {
        width: 34.3rem;
        height: auto;
        align-self: flex-end;
        transform: translateX(0);
      }
    }
  }


  &__middle {
    display: flex;
    flex-direction: column;
   margin-top: 10rem;
   height: 15rem;
  
    &__icon{

      align-self: center;
      margin-bottom: 3.1rem;

      @media (min-width: 900px) {
        margin-bottom: 4.1rem;
      }


    }
    &__logobar {

      ul{

        li{
          list-style: none;
        }
        
      }


      width: 100%;
      background-color: $color-middle;
      @media (min-width: 900px) {
        transform: translateY(5%);
      }
   
      display: flex;
      align-items: center;
      padding: 5rem;
     

     
      @include respond(tab-port) {
        //transform: translateY(70%);
        align-items: center;
        flex-direction: column;
        padding: 4rem 0;
      }


      &-text {
        color: $color-middle-text;
        font-size: 2.2rem;
        line-height: 2.2rem;
        //font-weight: 600;

        @include respond(tab-min) {
          margin-right: auto;
        }

        @include respond(tab-port) {
          margin: 0;
        }


        @include respond(tab-port) {
          font-size: 2rem;
          padding-bottom: 6.25rem;
        }
      }

      &__icon {

      
        display: flex;
        width: 65%;
        justify-content: space-between;

        @include respond(tab-port) {
          flex-direction: column;
          justify-content: space-evenly;
          align-items: center;
        }
        @media (min-width: 768px) {
          flex-direction: row;
          width: 100%;
        }

        @media (min-width: 900px) {
          flex-direction: row;
          width: 65%;
        }
        &-1 {
          display: flex;
          justify-content: center;
         // width: 14rem;
          //height: auto;
          @include respond(tab-port) {
            //width: 15rem;
            //height: auto;
            padding-bottom: 6.25rem;
          }
        }
        &-2 {
          display: flex;
          justify-content: center;
          //width: 14rem;
          //height: auto;
          @include respond(tab-port) {
            //width: 15rem;
            //height: auto;
            padding-bottom: 6.25rem;
          }
        }
        &-3 {
          display: flex;
          justify-content: center;
          @media (min-width: 900px) {
           padding-top: 1.8rem;
          }
          //width: 14rem;
          //height: auto;
          @include respond(tab-port) {
            //width: 15rem;
            //height: auto;
            padding-bottom: 6.25rem;
          }
        }
      }
    }
  }
}
