.history {
  background-color: $color-text;
  //display: flex;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, min-content);

  @media (min-width: 900px) {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  &__text {
    color: $color-middle-text;
    grid-column: 1 / -1;
    grid-row: 1 / 2;

    display: flex;
    padding-top: 40rem;
    padding-bottom: 3rem;
    flex-direction: column;

    @media (min-width: 900px) {
      grid-column: 1 / 5;
      grid-row: 1 / 2;
    }

    &-title {
      font-size: 3.5rem;
      line-height: 4.9rem;
      padding-bottom: 4rem;
      //font-weight: 600;
      @include respond(tab-port) {
        font-size: 2.8rem;
        line-height: 3.6rem;
        padding-bottom: 3rem;
      }
    }

    &__paragraph {
      &-1 {
        font-size: 1.7rem;
        line-height: 2.8rem;

        padding-bottom: 2.8rem;
        opacity: 80%;

        @include respond(tab-port) {
          font-size: 2rem;
          line-height: 3.2rem;
          padding-bottom: 3rem;
        }
      }

      &-2 {
        font-size: 1.7rem;
        line-height: 2.8rem;
        padding-bottom: 2.8rem;
        opacity: 80%;

        @include respond(tab-port) {
          font-size: 2rem;
          line-height: 3.2rem;
          padding-bottom: 3rem;
        }
      }
    }
  }

  &__img {
    grid-column: 1 / -1;
    grid-row: 2 / 3;

    @media (min-width: 900px) {
      grid-column: 6 / -1;
      grid-row: 1 / 2;
 
    }

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 3rem;

    &-1 {
      grid-column: 1 / 4;
      grid-row: 3 / 7;

      width: 100%;
      height: auto;
    }

    &-2 {
      grid-column: 4 / -1;
      grid-row: 2 / 4;

      width: 100%;
      height: auto;

      @include respond(tab-port) {
        width: 100%;
        height: auto;
      }
    }

    &-3 {
      grid-column: 4 / -1;
      grid-row: 4 / -1;
      object-fit: contain;

      @media (min-width: 900px) {
        display: none;
      }

      width: 100%;
      height: auto;
    }

    &-4 {
      @media (min-width: 900px) {
        grid-column: 4 / 6;
        grid-row: 4 / -1;
        object-fit: contain;
        width: 100%;
        height: auto;
      }

      @include respond(tab-port) {
        display: none;
      }
    }
  }

  &__service {
    &__title {
      grid-column: 1 / -1;
      grid-row: 3 / 4;

      @media (min-width: 900px) {
        grid-column: 1 / 5;
        grid-row: 2 / -1;
      }

      &-text {
        color: $color-middle-text;
        font-size: 3.5rem;
        line-height: 4.3rem;
      }

      @include respond(tab-port) {
        font-size: 2.8rem;
        line-height: 3.6rem;
        padding-bottom: 4rem;
      }
    }

    &__type {
      grid-column: 1 / -1;
      grid-row: 4 / -1;

      @media (min-width: 900px) {
        grid-column: 6 / -1;
        grid-row: 2 / -1;
      }

      &__insurance {
        display: flex;
        margin-bottom: 5rem;

        @include respond(tab-port) {
          flex-direction: column;
          margin-bottom: 6rem;
        }

        &__logo {
          width: 6.2rem;
          height: 6.2rem;
          flex-basis: 6.2rem;
          flex: 1 0 auto;
          border-radius: 1.6rem;
          background-color: rgba(0, 0, 0, 0.1);
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 2rem;

          @include respond(tab-min) {
            margin-right: 6.2rem;
          }

          &-icon {
            width: 3.8rem;
            height: 3rem;
          }
        }

        &__text {
          color: $color-middle-text;
          &-title {
            font-size: 2.4rem;
            line-height: 3rem;
            margin-bottom: 1.5rem;

            @include respond(tab-port) {
              font-size: 2.2rem;
              line-height: 2.8rem;
              padding-bottom: rem;
            }
          }

          &-paragraph {
            font-size: 1.6rem;
            line-height: 2.8rem;
            //font-weight: 400;
            opacity: 80%;
            @include respond(tab-port) {
              font-size: 2rem;
              line-height: 3.2rem;
            }
          }
        }
      }
    }
  }
}
